<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<section id="nav">
    <div id="nav-links">
     
      <a href="/templates/index.html" class="nav-link" data-translate>Home</a>
      <a href="https://www.aicte-india.org/schemes" class="nav-link" data-translate>Courses</a>
      <a href="https://www.aicte-india.org/bulletins" class="nav-link" data-translate>News</a>
      
      <a href="https://www.aicte-india.org/about-us/history" class="nav-link" data-translate>About</a>
      <a href="{{ url_for('translate') }}" class="nav-link" data-translate>Affidavit</a>

      <select id="language-select" class="nav-link" name="languages" style="background-color: #DAB88B; border-color: #DAB88B;color: white">
        <option value="en">English</option>
        <option value="as">Assamese</option>
        <option value="hi">Hindi</option>
        <option value="bn">Bengali</option>
        <option value="gu">Gujrati</option>
        <option value="kn">Kannada</option>
        <option value="ml">Malayalam</option>
        <option value="mr">Marathi</option>
        <option value="or">Odia</option>
        <option value="pa">Punjabi</option>
        <option value="ta">Tamil</option>
        <option value="te">Telugu</option>
      </select>
      
    </div>

    <div id="about-link">
   
      <span id="spanDate"></span>
      <span class="horizontal-space"></span>

      <span id="spanTime"></span>
    </div>
  </section>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="nav">
        <div id="nav-links">
            <a href="/templates/index.html" class="nav-link" data-translate>Home</a>
            <a href="{{ url_for('name') }}" class="nav-link" data-translate>Courses</a>
            <a href="https://www.aicte-india.org/bulletins" class="nav-link" data-translate>News</a>
            <a href="https://www.aicte-india.org/about-us/history" class="nav-link" data-translate>About</a>

            <select id="language-select" class="nav-link" name="languages" style="background-color: #DAB88B; border-color: #DAB88B;color: white">
                <option value="en">English</option>
                <option value="as">Assamese</option>
                <option value="hi">Hindi</option>
                <option value="bn">Bengali</option>
                <option value="gu">Gujrati</option>
                <option value="kn">Kannada</option>
                <option value="ml">Malayalam</option>
                <option value="mr">Marathi</option>
                <option value="or">Odia</option>
                <option value="pa">Punjabi</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
            </select>
        </div>

        <div id="about-link">
            <span id="spanDate"></span>
            <span class="horizontal-space"></span>
            <span id="spanTime"></span>
        </div>

        <div>
            <p data-translate>Hello Chinmaya How are you?</p>
        </div>


    </section>

    <script src="{{ url_for('static', filename='js/dashboard1.js') }}"></script>
</body>
</html>
