<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaidya</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>
    <div class="navbar">
        <h1 class="heading">ವೈDHया</h1>
    </div>

    <h1 class="heading" data-translate>Hello!</h1>
    <p class="dashboard-intro" data-translate="">
        Welcome to Vaidya Dashboard, your personalized health companion. This platform is designed to empower you on
        your health journey by providing seamless access to various features. From obtaining personalized health advice
        through our AI-powered chatbot to predicting potential health issues based on symptoms and risk factors, and
        efficiently managing your medical appointments — we've got you covered. Explore the functionalities below and
        take proactive steps towards a healthier and happier life. If you have any questions or need assistance, feel
        free to reach out. Your well-being is our priority!
    </p>

    <div class="container">
        <div class="card">
            <a href="{{url_for('chatbot')}}">
            <img src="{{ url_for('static', filename='images/imagea.png') }}" alt="Medical Chatbot Image" class="image">
            <h2 data-translate>Medical Chatbot</h2>
            <p data-translate>Get personalized health advice through our AI-powered chatbot.</p></a>
        </div>

        <div class="card">
            <a href="{{url_for('diseasePrediction')}}">
                <img src="{{ url_for('static', filename='images/downloada.png') }}" alt="Disease Prediction Image"
                    class="image">
                <h2 data-translate>Disease Prediction</h2>
                <p data-translate>Predict potential health issues based on symptoms and risk factors.</p>
            </a>
        </div>

        <div class="card">
            <a href="https://bot.dialogflow.com/119833d1-c780-4981-a66e-5fd7286b4597"><img src="{{ url_for('static', filename='images/appointment.png') }}" alt="Appointments Image"
                class="image">
            <h2 data-translate>Appointments</h2>
            <p data-translate>Schedule and manage your medical appointments seamlessly.</p></a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>