<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vaidya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mcq.css') }}">
</head>
<body>

<div class="navbar">
    <h1 class="heading">ವೈDHया</h1>
</div>

<h2 class="heading" align="center" data-translate>What do you think about the following situations?</h2>


<form>
    <!-- Question 1 -->
    <div class="question-box">
        <p data-translate>Question 1: Your friend has invited you to a party. Consider how you might respond in the given scenario. Choose the option that best reflects your feelings and tendencies:
        </p>
        <label><input type="radio" name="q1" value="option1"data-translate> I would feel too exhausted and unmotivated to attend. Socializing feels overwhelming right now. 
        </label><br><br>
        <label><input type="radio" name="q1" value="option2"data-translate>  I would worry excessively about what others think of me and might hesitate to go, fearing judgment or social scrutiny.
        </label><br><br>
        <label><input type="radio" name="q1" value="option3"data-translate> I might attend, but my thoughts may be scattered, and I might have difficulty focusing on conversations or enjoying the event.</label><br><br>
        <label><input type="radio" name="q1" value="option4"data-translate> I would go to the party with high energy and enthusiasm, but my mood might shift unexpectedly throughout the event.
        </label><br><br>
        <label><input type="radio" name="q1" value="option5"data-translate> I would attend the party but might struggle with intrusive thoughts or rituals related to social interactions.
        </label><br><br>
      <label><input type="radio" name="q1" value="option6"data-translate> The idea of attending a party triggers memories of a traumatic event, making it challenging for me to consider going.
      </label><br><br>
      <label><input type="radio" name="q1" value="option7"data-translate> None. I would attend the party without any specific challenges. Socializing is generally comfortable for me at the moment.</label>
    </div>

    <div class="question-box">
      <p data-translate>Question 2: You have an upcoming deadline at work. How do you typically handle the stress?</p>
      <label><input type="radio" name="q2" value="option1"data-translate>  I feel overwhelmed and struggle to focus on tasks.
      </label><br><br>
      <label><input type="radio" name="q2" value="option2"data-translate>  I become anxious and worry excessively about meeting expectations. 
      </label><br><br>
      <label><input type="radio" name="q2" value="option3"data-translate> I may experience racing thoughts and have difficulty organizing my work.</label><br><br>
      <label><input type="radio" name="q2" value="option4"data-translate>  I might find it challenging to concentrate due to scattered thoughts. 
      </label><br><br>
      <label><input type="radio" name="q2" value="option5"data-translate> I engage in repetitive behaviors or thoughts to alleviate stress. 
      </label><br><br>
    <label><input type="radio" name="q2" value="option6"data-translate>  I may experience flashbacks or heightened anxiety related to past traumatic experiences.
    </label><br><br>
    <label><input type="radio" name="q2" value="option7"data-translate> None. I manage work-related stress without significant challenges. </label>
  </div>

  <div class="question-box">
    <p data-translate>Question 3: You receive unexpected praise for your achievements. How do you react?</p>
    <label><input type="radio" name="q3" value="option1"data-translate>  I struggle to accept compliments and may feel that I don't deserve the praise.
    </label><br><br>
    <label><input type="radio" name="q3" value="option2"data-translate>  I become anxious and worry about living up to the expectations set by the praise.
    </label><br><br>
    <label><input type="radio" name="q3" value="option3"data-translate> I experience elevated mood and heightened self-esteem.</label><br><br>
    <label><input type="radio" name="q3" value="option4"data-translate>  I may interpret the praise in a way that feels unusual or unrelated.
    </label><br><br>
    <label><input type="radio" name="q3" value="option5"data-translate>  I may feel the need to repeat certain actions to ensure continued success.
    </label><br><br>
  <label><input type="radio"   name="q3" value="option6"data-translate>   I may experience heightened anxiety or flashbacks related to past trauma.
  </label><br><br>
  <label><input type="radio"   name="q3" value="option7"data-translate> None. I accept praise and recognition without significant challenges. </label>
</div>

<div class="question-box">
  <p data-translate>Question 4: You witness a car accident on the street. How does it affect you?
  </p>
  <label><input type="radio" name="q4" value="option1"data-translate> I feel a deep sense of sadness and empathy for those involved. 
  </label><br><br>
  <label><input type="radio" name="q4" value="option2"data-translate>   I become anxious, and the noise may trigger feelings of discomfort or panic.
  </label><br><br>
  <label><input type="radio" name="q4" value="option3"data-translate> I might have difficulty processing the event and understanding its impact. </label><br><br>
  <label><input type="radio" name="q4" value="option4"data-translate>  I may experience mood swings or heightened emotional reactions. 
  </label><br><br>
  <label><input type="radio" name="q4" value="option5"data-translate>  I feel compelled to engage in rituals to alleviate anxiety related to the accident.
  </label><br><br>
<label><input type="radio"   name="q4" value="option6"data-translate>   I may experience flashbacks or intense anxiety related to past traumatic experiences.
</label><br><br>
<label><input type="radio"   name="q4" value="option7"data-translate> None. I navigate such events without significant emotional distress.
</label>
</div>


<div class="question-box">
  <p data-translate>Question 5: You are preparing for a social event with friends. How do you approach it?

  </p>
  <label><input type="radio" name="q5" value="option1"data-translate> I may feel a lack of interest and energy, making socializing challenging. 
  </label><br><br>
  <label><input type="radio" name="q5" value="option2"data-translate>    I become anxious and worry about how others perceive me in social situations. 
  </label><br><br>
  <label><input type="radio" name="q5" value="option3"data-translate> I may struggle with scattered thoughts and difficulty engaging in conversations. </label><br><br>
  <label><input type="radio" name="q5" value="option4"data-translate>  I approach it with high energy and enthusiasm but may experience mood shifts.
  </label><br><br>
  <label><input type="radio" name="q5" value="option5"data-translate>  I may engage in repetitive behaviors or thoughts related to social interactions.
  </label><br><br>
<label><input type="radio"   name="q5" value="option6"data-translate>   I may experience heightened anxiety or avoid the event due to past traumatic social experiences.
</label><br><br>
<label><input type="radio"   name="q5" value="option7"data-translate> None. I approach social events without significant challenges.

</label>
</div>



<div class="question-box">
  <p data-translate>Question 6: You find yourself in a crowded and noisy environment. How do you react?
  </p>
  <label><input type="radio" name="q6" value="option1"data-translate>  I feel overwhelmed and may withdraw from the environment.  
  </label><br><br>
  <label><input type="radio" name="q6" value="option2"data-translate>     I become anxious, and the noise may trigger feelings of discomfort or panic.
  </label><br><br>
  <label><input type="radio" name="q6" value="option3"data-translate>  I might have difficulty processing the sensory input, leading to scattered thoughts. </label><br><br>
  <label><input type="radio" name="q6" value="option4"data-translate> I may experience heightened energy or mood shifts in response to the environment. 
  </label><br><br>
  <label><input type="radio" name="q6" value="option5"data-translate>  I engage in repetitive behaviors or rituals to cope with the overwhelming stimuli. 
  </label><br><br>
<label><input type="radio"   name="q6" value="option6"data-translate>   I may feel on edge or hypervigilant due to past traumatic experiences. 
</label><br><br>
<label><input type="radio"   name="q6" value="option7"data-translate> None. I navigate crowded environments without significant challenges.
</label>
</div>




<div class="question-box">
  <p data-translate>Question 7: You encounter a trigger related to a past traumatic event. How do you cope?
  </p>
  <label><input type="radio" name="q7" value="option1"data-translate> I may experience a surge of emotions and find it challenging to move past the trigger.  
  </label><br><br>
  <label><input type="radio" name="q7" value="option2"data-translate>      I become anxious, and the trigger may lead to intrusive thoughts or flashbacks.
  </label><br><br>
  <label><input type="radio" name="q7" value="option3"data-translate>  I might struggle with processing the trigger, leading to scattered thoughts.  </label><br><br>
  <label><input type="radio" name="q7" value="option4"data-translate>  I may experience mood swings or heightened emotional reactions in response to the trigger.
  </label><br><br>
  <label><input type="radio" name="q7" value="option5"data-translate>   I engage in repetitive behaviors or rituals to alleviate anxiety related to the trigger. 
  </label><br><br>
<label><input type="radio"   name="q7" value="option6"data-translate>   I may experience intense anxiety, flashbacks, or avoidance behaviors related to the trigger. 
</label><br><br>
<label><input type="radio"   name="q7" value="option7"data-translate> None. I navigate triggers without significant emotional distress.
</label>
</div>



<div class="question-box">
  <p data-translate>Question 8: You are faced with a decision that requires careful consideration. How do you approach it?
  </p>
  <label><input type="radio" name="q8" value="option1"data-translate> I may feel indecisive and struggle to make decisions due to a lack of interest.  
  </label><br><br>
  <label><input type="radio" name="q8" value="option2"data-translate>     I become anxious, and the decision-making process may lead to excessive worry.
  </label><br><br>
  <label><input type="radio" name="q8" value="option3"data-translate>   I might have difficulty organizing thoughts, leading to challenges in making a decision.  </label><br><br>
  <label><input type="radio" name="q8" value="option4"data-translate>  I may experience mood swings or impulsive decision-making. 
  </label><br><br>
  <label><input type="radio" name="q8" value="option5"data-translate>    I engage in repetitive thoughts or rituals related to the decision.  
  </label><br><br>
<label><input type="radio"   name="q8" value="option6"data-translate>    I may have difficulty making decisions due to past traumatic experiences impacting my judgment.
</label><br><br>
<label><input type="radio"   name="q8" value="option7"data-translate> None. I make decisions without significant challenges.
</label>
</div>

<div class="question-box">
  <p data-translate>Question 9: You are experiencing a period of heightened creativity and productivity. How does it impact you?
  </p>
  <label><input type="radio" name="q9" value="option1"data-translate>  I feel a temporary lift in mood but may struggle to sustain interest or motivation.  
  </label><br><br>
  <label><input type="radio" name="q9" value="option2"data-translate>    I may feel anxious about maintaining the high level of productivity. 
  </label><br><br>
  <label><input type="radio" name="q9" value="option3"data-translate>   I experience a burst of creative energy and heightened self-esteem.   </label><br><br>
  <label><input type="radio" name="q9" value="option4"data-translate>   I might have scattered thoughts and difficulty focusing during this period. 
  </label><br><br>
  <label><input type="radio" name="q9" value="option5"data-translate>     I may engage in repetitive behaviors or rituals associated with my creative process. 
  </label><br><br>
<label><input type="radio"   name="q9" value="option6"data-translate>     I may have difficulty managing the increased energy and creativity due to past traumatic experiences.
</label><br><br>
<label><input type="radio"   name="q9" value="option7"data-translate> None. I experience heightened creativity without significant challenges.
</label>
</div>


<div class="question-box">
  <p data-translate>Question 10: You are in a situation where you feel judged by others. How do you react?
  </p>
  <label><input type="radio" name="q10" value="option1"data-translate>  I internalize the judgment and may feel a sense of worthlessness.   
  </label><br><br>
  <label><input type="radio" name="q10" value="option2"data-translate>     I become anxious and may avoid future situations where judgment is perceived. 
  </label><br><br>
  <label><input type="radio" name="q10" value="option3"data-translate>   I might struggle to understand the intentions behind the perceived judgment.   </label><br><br>
  <label><input type="radio" name="q10" value="option4"data-translate>    I may experience mood swings and heightened emotional reactions to perceived judgment.
  </label><br><br>
  <label><input type="radio" name="q10" value="option5"data-translate>      I engage in repetitive behaviors or thoughts to cope with the perceived judgment.
  </label><br><br>
<label><input type="radio"   name="q10" value="option6"data-translate>      I may experience intense anxiety, hypervigilance, or avoidance behaviors due to past traumatic social experiences.
</label><br><br>
<label><input type="radio"   name="q10" value="option7"data-translate> None. I navigate situations of perceived judgment without significant emotional distress.
</label>
</div>

<input type="button" value="Submit" class="button">
</form>

<script src="{{ url_for('static', filename='js/mcq.js') }}"></script>
</body>
</html>
